<mat-form-field [style.fontSize.px]="20">
  <input #testMP (keyup.enter)="onEnter(testMP.value)" matInput placeholder="Search git user..." [(ngModel)]="value">
</mat-form-field>

<!-- <li *ngFor="let a of result">
  {{a.name}}
</li> -->

<table>
  <tr>
    <th>Repo</th>
    <th>Description</th>
    <th>Link</th>
  </tr>
  <tr *ngFor="let a of result">
    <td>{{a.name}}</td>
    <td>{{a.description}}</td>
    <td><a href={{a.url}}>Repo</a></td>
  </tr>
</table>
<!-- 
<table mat-table [dataSource] = 'dataSource'>

  <ng-container matColumnDef = "Repo">
    <th mat-header-cell *matHeaderCellDef> Repo </th>
    <td mat-cell *matCellDef="let element"> {{element.name}}</td>
  </ng-container>

  <ng-container matColumnDef = "Description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}}</td>
  </ng-container>

  <ng-container matColumnDef = "Link">
    <th mat-header-cell *matHeaderCellDef> Link </th>
    <td mat-cell *matCellDef="let element"> <a href={{element.url}}>repo</a></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>


</table> -->